<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev Clicker</title>

    <!-- Meta tags -->
    <!-- Primary Meta Tags -->
    <title>Dev Clicker — Click to become the ultimate Dev</title>
    <meta name="title" content="Dev Clicker — Click to become the ultimate Dev">
    <meta name="description" content="Click your way to the top or develop your own clicker... you choose.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alexleybourne.github.io/DevClicker/">
    <meta property="og:title" content="Dev Clicker — Click to become the ultimate Dev">
    <meta property="og:description" content="Click your way to the top or develop your own clicker... you choose.">
    <meta property="og:image" content="https://i.ibb.co/YXtbNt6/Meta-Preview.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://alexleybourne.github.io/DevClicker/">
    <meta property="twitter:title" content="Dev Clicker — Click to become the ultimate Dev">
    <meta property="twitter:description" content="Click your way to the top or develop your own clicker... you choose.">
    <meta property="twitter:image" content="https://i.ibb.co/YXtbNt6/Meta-Preview.jpg">

    <!-- Generate your favicons with Favicon io "https://favicon.io/" -->

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">

    <!-- My StyleSheet CSS -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

    <!-- Anime JS -->
    <script src="anime.min.js"></script>
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>

</head>
  <body>
    <nav></nav>

    <main>
        <!-- -------- Menus -------- -->

        <!-- This is a button toggling the off-canvas LEFT -->
        <button uk-toggle="target: #left-menu" type="button">Shop</button>

        <!-- This is a button toggling the off-canvas RIGHT -->
        <button uk-toggle="target: #right-menu" type="button">Your Team</button>

        <div id="left-menu" uk-offcanvas>
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <div id="shop"></div>
            </div>
        </div>

        <div id="right-menu"  uk-offcanvas="flip: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <div id="your-team"></div>
            </div>
        </div>

        <!-- ------ CickerImg ------ -->
        <div id='counter'></div>
        <script>

        let value = 0
        
        function updateCounter() {
            counter = document.getElementById("counter")
            value = value + 1
            counter.innerHTML = value
            console.log("Count = " + value)
        }
        </script>

        

        <img src='../Assets/OldComputer.png' id='clicker' onclick="updateCounter()" class="clickerImage"/>

    </main>
  </body>
</html>
