<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev Clicker</title>

    <!-- Meta tags -->
    <!-- Primary Meta Tags -->
    <title>Dev Clicker — Click to become the ultimate Dev</title>
    <meta name="title" content="Dev Clicker — Click to become the ultimate Dev">
    <meta name="description" content="Click your way to the top or develop your own clicker... you choose.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alexleybourne.github.io/DevClicker/">
    <meta property="og:title" content="Dev Clicker — Click to become the ultimate Dev">
    <meta property="og:description" content="Click your way to the top or develop your own clicker... you choose.">
    <meta property="og:image" content="https://i.ibb.co/YXtbNt6/Meta-Preview.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://alexleybourne.github.io/DevClicker/">
    <meta property="twitter:title" content="Dev Clicker — Click to become the ultimate Dev">
    <meta property="twitter:description" content="Click your way to the top or develop your own clicker... you choose.">
    <meta property="twitter:image" content="https://i.ibb.co/YXtbNt6/Meta-Preview.jpg">

    <!-- Generate your favicons with Favicon io "https://favicon.io/" -->

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="Assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="Assets/favicon/site.webmanifest">

    <!-- My StyleSheet CSS -->
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Anime JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>

    <!-- Javascript -->
    <script src="javascripts/clicker.js"></script>
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>

    <!-- Ion -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</head>
  <body onload="pageLoaded()">
    <nav></nav>

    <main>

        <!------ Nav Bar ------>

        <nav class="uk-navbar-container" style="padding: 0 20px; background-color: rgb(75, 75, 75); z-index: 10;" uk-navbar>

            <div class="uk-navbar-left">
        
                <ul class="uk-navbar-nav">
                    <li><a href="#"><ion-icon name="trophy" ></ion-icon><b>&nbsp;Scoreboard Position: 1st</b></a></li>
                </ul>
        
            </div>

            <div class="uk-navbar-center">
                <div class="uk-navbar-item uk-logo"><img style="height: 70px;" src="Assets/logo.png"></div>
            </div>
        
            <div class="uk-navbar-right">
                
                <ul class="uk-navbar-nav">
                    <li><a href="" ><ion-icon name="save"></ion-icon><b>&nbsp;Save</b></a></li>
                    <li>
                        <a href="" ><ion-icon name="person"></ion-icon><b>&nbsp;User</b></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
        
            </div>
        
        </nav>

        <!-- Shop Menu -->
        <div id="shopMenu" class="shopMenu">

            <h1 style="cursor: pointer; padding-top: 10px;" onclick="shopButtonClose()"><ion-icon name="cart" class="shopIcon"></ion-icon> Shop <ion-icon name="close" class="closeButton" onclick="shopButtonClose()"></ion-icon></h1>
            

            <!-- Animated Background for Main-->
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>

        </div>



        <!-- Upgrades Menu -->
        <div id="upgradeMenu" class="upgradeMenu">

            <h1 style="cursor: pointer; padding-top: 10px;" onclick="upgradeButtonClose()"><ion-icon name="hammer" class="shopIcon"></ion-icon> Upgrades <ion-icon name="close" class="closeButton" onclick="upgradeButtonClose()"></ion-icon></h1>
            

            <!-- Animated Background for Main-->
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>

        </div>




        <!-- Main Area -->
        <div class="uk-flex uk-flex-column uk-flex-middle mainArea" id="mainArea">

            <b><div style="margin: 50px;" id='counter' class="counter" >0 Lines Coded</div></b>

            <div class="uk-flex uk-flex-between" style="width: 100%;">
                <div style="width: 100%; display: flex; justify-content: space-around;">

                    <!-- SHOP BUTTON -->
                    <button class="mainButton" onclick="shopButtonClick()">
                        <div>
                            <ion-icon class="buttonIcon" name="cart" size="large"></ion-icon>
                            <p class="buttonText">SHOP</p>
                        </div>
                    </button>

                    <!-- ------ CickerImg ------ -->
                    <img src='Assets/OldComputer.png' id='clicker' onclick="clicked()" onmouseover="enterClicker()" onmouseleave="leaveClicker()" class="clickerImage"/>

                    <!-- UPGRADES BUTTON -->
                    <button class="mainButton" onclick="upgradeButtonClick()">
                        <div>
                            <ion-icon class="buttonIcon" name="hammer" size="large"></ion-icon>
                            <p class="buttonText">UPGRADES</p>
                        </div>
                    </button>



                </div>
            </div>

             <!-- Particle Animations on CLick -->
            <div id="spawnedItems">
            </div>

            <!-- Animated Background for Main-->
            <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            </ul>

        </div>

        
        


        <!-- OLD CODE -->

        <!-- This is a button toggling the off-canvas LEFT -->
        <!-- <button uk-toggle="target: #left-menu" type="button">Shop</button> -->

        <!-- This is a button toggling the off-canvas RIGHT -->
        <!-- <button uk-toggle="target: #right-menu" type="button">Upgrades</button>

        <div id="left-menu" uk-offcanvas>
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <div id="shop">
                    <ul>
                        <% Object.keys(team).forEach(async (key) => { %>
                            <li><%= `${key}: ${team[key]}` %> </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

        <div id="right-menu"  uk-offcanvas="flip: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <div id="upgrades"></div>
            </div>
        </div> -->

    </main>
  </body>
</html>
