
.mainButton {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  font-weight: bold;
  line-height: 1px;
  transition: 0.3s;
}

.mainButton:hover {
  height: 110px;
  width: 110px;
  background-color: rgb(214, 214, 214);
}

.buttonText {
  margin: 0;
  margin-top: 10px;
}

